{% extends "main.html" %}

{% block content %}

<diV>


    <form method ='POST' action= '' >
        {% csrf_token %}
       
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>

        
        <label>Username:</label>
        <input type='text' name='username'placeholder='Enter Username'/>
        <br>
        <label>Password:</label>
        <input type = 'password' name ='password' placeholder='Enter Password'/>

        <input type='submit'value='login'/>



    </form>
</div>
{% endblock content %}