{% extends 'main.html' %}

{% block content %}
<main class="update-account layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Edit your profile</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          
          <!-- User Form Fields Start -->
          <div class="form__group">
            <label for="username">{{ user_form.username.label }}</label>
            {{ user_form.username }}
          </div>
          <div class="form__group">
            <label for="email">{{ user_form.email.label }}</label>
            {{ user_form.email }}
          </div>
          <div class="form__group">
            <label for="profile_pic">{{ user_form.avatar.label }}</label>
            {{ user_form.avatar }}
          </div>
          <!-- User Form Fields End -->

          <!-- UserDetails Form Fields Start -->
          <div class="form__group">
            <label for="bio">{{ details_form.bio.label }}</label>
            {{ details_form.bio }}
          </div>
          <div class="form__group">
            <label for="college_name">{{ details_form.college_name.label }}</label>
            {{ details_form.college_name }}
          </div>
          <div class="form__group">
            <label for="department">{{ details_form.department.label }}</label>
            {{ details_form.department }}
          </div>
          <div class="form__group">
            <label for="current_year">{{ details_form.current_year.label }}</label>
            {{ details_form.current_year }}
          </div>
          <div class="form__group">
            <label for="linkedin">{{ details_form.linkedin.label }}</label>
            {{ details_form.linkedin }}
          </div>
          <div class="form__group">
            <label for="github">{{ details_form.github.label }}</label>
            {{ details_form.github }}
          </div>
          <div class="form__group">
            <label for="twitter">{{ details_form.twitter.label }}</label>
            {{ details_form.twitter }}
          </div>
          <!-- UserDetails Form Fields End -->

          <div class="form__action">
            <a class="btn btn--dark" href="index.html">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
